.words {
    font-family: "Yantramanav";
    margin-left: 3px;
    padding: 2px;
    white-space: nowrap;
}

.words:hover {
    background-color: #ccffe3;
    border-radius: 20px;
    cursor: pointer;
}

.dictionaryCardContainer {
    background-color: whitesmoke;
    width: 90%;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
}

.cardTitle {
    margin: auto;
    margin-left: 20px;
}

.definition {
    margin-left: 15px;
}

li {
    font-family: "Yantramanav";
}

ol li {
    white-space: normal;
    word-break: break-word;
}

.remove {
    width: 35px;
    position: relative;
    background-color: #ffcccc;
    font-family: "Yantramanav";
    font-size: 20px;
    color: #888888;
    border-radius: 25px;
    padding: 5px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.remove:focus {
    background-color: #fc8484;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.remove:hover {
    background-color: #fc8484;
}
.remove:active {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.headContainer {
    display: flex;
    flex-direction: row;
}
